{% extends 'base.html.twig' %}

{% block title %}Livraison index{% endblock %}

{% block body %}
    <h1 class="badge bg-info">Livraison index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Expéditeur</th>
                <th>Destinataire</th>
                <th>Membre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td><span class="badge bg-secondary">{{ livraison.id }}</span></td>
                <td><span class="badge bg-info">{{ livraison.expediteur }}</span></td>
                <td><span class="badge bg-info">{{ livraison.destinataire }}</span></td>
                <td><span class="badge bg-success">{{ livraison.membre.email }}</span></td>
                <td>
                    <a href="{{ path('app_livraison_show', {'id': livraison.id}) }}" class="btn btn-info">Détails</a>
                    <a href="{{ path('app_livraison_edit', {'id': livraison.id}) }}" class="btn btn-warning">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_livraison_new') }}" class="btn btn-warning">Créer une nouvelle livraison</a>
{% endblock %}
