{% extends 'base.html.twig' %}

{% block title %}Livraison index{% endblock %}

{% block body %}
    <h1>Livraison index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Expéditeur</th>
                <th>Destinataire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraisons %}
            <tr>
                <td>{{ livraison.id }}</td>
                <td>{{ livraison.expediteur }}</td>
                <td>{{ livraison.destinataire }}</td>
                <td>
                    <a href="{{ path('app_livraison_show', {'id': livraison.id}) }}">Détails</a>
                    <a href="{{ path('app_livraison_edit', {'id': livraison.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_livraison_new') }}">Créer une nouvelle livraison</a>
{% endblock %}
