<div class="devis-form">
    {{ form_start(form) }}

    {#    TYPE DE CLIENT #}
    <div class="client-type">
        {{ form_label(form.clientType) }}
        <div class="form-group">
            <label class="control-label">Vous êtes un </label>
            <div class="select-type">
                {% for child in form.clientType %}
                    <div class="clientType-label active">
                        <label for="{{ child.vars.id }}" class="required">
                            <input type="radio"
                                   id="{{ child.vars.id }}"
                                   name="{{ form.vars.id ~ '[' ~ form.clientType.vars.name ~ ']' }}"
                                   required="required"
                                   class="checkbox"
                                   value="{{ child.vars.label }}">
                            {{ child.vars.label }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
        {{ form_help(form.clientType) }}
        {{ form_errors(form.clientType) }}
    </div>

    {#    TYPE DE SERVICE #}
    <div class="service-type">
        {{ form_label(form.serviceType) }}
        <div class="form-group">
            <label class="control-label">Type de service</label>
            <div class="select-type">
                {% for child in form.serviceType %}
                    <div class="serviceType-label active">
                        <label for="{{ child.vars.id }}" class="required">
                            <input type="radio"
                                   id="{{ child.vars.id }}"
                                   name="{{ form.vars.id ~ '[' ~ form.serviceType.vars.name ~ ']' }}"
                                   required="required"
                                   class="checkbox"
                                   value="{{ child.vars.label }}">
                            {{ child.vars.label }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
        {{ form_help(form.serviceType) }}
        {{ form_errors(form.serviceType) }}
    </div>

    {#    TRAJET #}
    <div class="trajet">
        <div class="expediteur">
            <h5>Départ</h5>
            {{ form_row(form.expediteur) }}
        </div>
        <div class="destinataire">
            <h5>Arrivée</h5>
            {{ form_row(form.destinataire) }}
        </div>
    </div>

    {#    MARCHANDISE #}
    <div class="info-marchandise">
        <h5>Informations Marchandise</h5>
        <div class="marchandise" data-identifier="marchandise"
                {# the data-index attribute is required for the JavaScript code below #}
             data-index="{{ form.marchandise|length > 0 ? form.marchandise|last.vars.name + 1 : 0 }}"
             data-prototype="{{ form_widget(form.marchandise.vars.prototype)|e('html_attr') }}">
        </div>
        <button type="button" class="add_item_link" data-collection-holder-class="marchandise">Ajouter un colis</button>
    </div>

    {#    COORDONNEES #}
    <div class="coordonnees">
        <h5>Vos coordonnées</h5>
        <div class="form-coordonnees">
            {{ form_row(form.societe) }}
            {{ form_row(form.prenom) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.email) }}
            {{ form_row(form.telephone) }}
            {{ form_row(form._token) }}
        </div>
    </div>
    {# templates/form/custom_types.html.twig #}
    <div class="button-envoyer">
        <button class="btn btn-success">{{ button_label|default('Envoyer') }}</button>
    </div>
    {# don't render unrendered fields #}
    {{ form_end(form, {render_rest: false}) }}
</div>