{% extends 'base.html.twig' %}

{% block title %}Devis index{% endblock %}

{% block body %}
    <h1 class="badge bg-info">Liste des Devis</h1>

    <table class="table">
        <thead>
        <tr>
            <th>N° de Devis</th>
            <th>Date de validité</th>
            <th>Expéditeur</th>
            <th>Destinataire</th>
            <th>Marchandise</th>
            <th>Type de Client</th>
            <th>Service</th>
            <th>Membre</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for devi in devis %}
            {% dump(devi) %}
            <tr>
                <td><span class="badge bg-secondary">{{ devi.id }}</td>
                <td><span class="badge bg-info">{{ devi.dateVal ? devi.dateVal|date('Y-m-d') : '' }}</td>
                <td><span class="badge bg-secondary">{{ devi.expediteur }}</td>
                <td><span class="badge bg-secondary">{{ devi.destinataire }}</td>
                <td><span class="badge bg-secondary">
                    {% for marchandise in devi.getMarchandise %}
                        {{ marchandise.getConditionnement }}
                    {% endfor %}</td>

                <td>
                    <p class="badge bg-warning">
                        {{ devi.clientTypeText }}
                    </p>
                </td>
                <td>
                    <p class="badge bg-warning">
                        {{ devi.serviceTypeText }}
                    </p>
                    </td>
                    {# <span class="badge bg-secondary">{{ devi.serviceType }}</td> #}
                {% if devi.membre %}
                    <td><span class="badge bg-success">{{ devi.membre.email }}</span></td>
                {% else %}
                    <td><span class="badge bg-warning">Aucun utilisateur associé au devis</td>
                {% endif %}
                <td>
                    <a href="{{ path('app_devis_show', {'id': devi.id}) }}" class="btn btn-info"><i class="fa-solid fa-info" style="color: #000000;"></i></a>
                    <a href="{{ path('app_devis_edit', {'id': devi.id}) }}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></a>
                    {{ include('devis/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="badge bg-warning">Aucun devis à afficher</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <a href="{{ path('app_devis_new') }}" class="btn btn-warning">Créer un nouveau devis</a>
        <div>
            {% if devis|length == 0 %}
                <p>Pas de devis</p>
            {% else %}
                {{ knp_pagination_render(devis)}}
            {# {{ dump(devis | length) }} #}
            {% endif %}
        </div>
{% endblock %}
