{% extends 'base.html.twig' %}

{% block title %}Détails du Devis{% endblock %}

{% block body %}
    <h1 class="badge bg-info">Détails du Devis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>N° de Devis :</th>
                <td><span class="badge bg-success">{{ devi.id }}</span></td>
            </tr>
            <tr>
                <th>Date de validité :</th>
                <td><span class="badge bg-success">{{ devi.dateVal ? devi.dateVal|date('Y-m-d') : '' }}</span></td>
            </tr>
        <tr>
            <th>Membre</th>
            {% if devi.membre %}
                <td><span class="badge bg-success">{{ devi.membre.email }}</span></td>
            {% else %}
                <td><span class="btn btn-warning">Aucun utilisateur associé au devis</span></td>
            {% endif %}
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_devis_index') }}" class="btn btn-secondary">Retour à la liste des devis</a><br/>

    <a href="{{ path('app_devis_edit', {'id': devi.id}) }}" class="btn btn-warning">Modifier</a>

    {{ include('devis/_delete_form.html.twig') }}
{% endblock %}
