{% extends 'base.html.twig' %}

{% block title %}Expéditeur index{% endblock %}

{% block body %}
    <h1>Expéditeur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expediteur in expediteurs %}
            <tr>
                <td>{{ expediteur.id }}</td>
                <td>{{ expediteur.nom }}</td>
                <td>{{ expediteur.adresse }}</td>
                <td>{{ expediteur.codePostal }}</td>
                <td>{{ expediteur.ville }}</td>
                <td>
                    <a href="{{ path('app_expediteur_show', {'id': expediteur.id}) }}"><i class="fa-solid fa-info" style="color: #000000;"></i></a>
                    <a href="{{ path('app_expediteur_edit', {'id': expediteur.id}) }}"><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_expediteur_new') }}">Create new</a>
{% endblock %}
