<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/CSS/style.css') }}">
        {{ encore_entry_link_tags('app') }}
    {% endblock %}



</head>
<body>
    <div id= "container" >

        <div id= "header">
            <div class="header-left">
                <a href="{{ path('app_home') }}"><img class="logo" src="{{ asset('build/images/logo-tgge.a9233069.png') }}" alt="LOGO"></a>
            </div>
            <div class="header-right">
                {% if app.user %}
                    <p class="badge bg-dark">Bienvenue {{ app.user.userIdentifier }}</p>
                    <button class="btn"><a href="{{ path('app_logout') }}" class="btn btn-warning"><i
                                    class="fa-solid fa-right-from-bracket"></i></a></button>

                {% else %}
                    <button class="btn"><a href="{{ path('app_register') }}" class="btn btn-success">S'inscrire</a></button>
                    <button class="btn"><a href="{{ path('app_login') }}" class="btn btn-success"><i
                                    class="fa-solid fa-right-to-bracket"></i></a></button>
                {% endif %}                
            </div>
        </div>
        <div class="container" id="nav">
            <div>
                <ul>
                    <li>
                        <button class="btn"><a href="{{ path('app_home') }}" class="btn btn-info"><i
                                        class="fa-solid fa-house"></i></a>
                        </button>
                    </li>
                    <li>
                        <button class="btn"><a href="{{ path('app_home') }}" class="btn btn-info">Société</a></button>
                    </li>
                    <li>
                        <button class="btn"><a href="{{ path('app_home') }}" class="btn btn-info">Services</a></button>
                    </li>
                    <li>
                        <button class="btn"><a href="{{ path('app_home') }}" class="btn btn-info">Reseau</a></button>
                    </li>
                    <li>
                        <button class="btn"><a href="{{ path('app_devis_new') }}" class="btn btn-info">Devis</a></button>
                    </li>
                </ul>
            </div>
        </div>
{% block body %}
{% endblock %}
        <div id="footer">
            <div>
                <ul>
                    <li>
                        <a href="{{ path('app_home') }}"><img  class="logo" src="{{ asset('build/images/logo-tgge.a9233069.png') }}" alt=""></a>
                    </li>
                    <li>
                        <a href="">>conditon</a>
                    </li>
                    <li>
                        <i class="fa-brands fa-square-twitter fa-2xl"></i>
                    </li>
                    <li>
                        <i class="fa-brands fa-square-facebook fa-2xl"></i>
                    </li>
                    <li>
                        <i class="fa-brands fa-square-instagram fa-2xl"></i>
                    </li>
                    <li>
                        <i class="fa-solid fa-copyright fa-2xl"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>    
</body>
</html>

{% block javascripts %}
{{ encore_entry_script_tags('app') }}
{% endblock %}
