{% extends 'base.html.twig' %}

{% block title %}Destinataire index{% endblock %}

{% block body %}
    <h1>Destinataire index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for destinataire in destinataires %}
            <tr>
                <td>{{ destinataire.id }}</td>
                <td>{{ destinataire.nom }}</td>
                <td>{{ destinataire.adresse }}</td>
                <td>{{ destinataire.codePostal }}</td>
                <td>{{ destinataire.ville }}</td>
                <td>
                    <a href="{{ path('app_destinataire_show', {'id': destinataire.id}) }}">show</a>
                    <a href="{{ path('app_destinataire_edit', {'id': destinataire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_destinataire_new') }}">Create new</a>
{% endblock %}
